<div class="bar bar-header bar-balanced">
  <h1 class="title">LIST</h1>
</div>
<div class="list bar-subheader">
<a ui-sref="login">Home</a>
  <a href="#" class="item item-icon-left">
    <i class="icon ion-home"></i>
    Enter home address
  </a>

  <a href="#" class="item item-icon-left">
    <i class="icon ion-ios-telephone"></i>
    Enter phone number
  </a>

  <a href="#" class="item item-icon-left">
    <i class="icon ion-wifi"></i>
    Enter wireless password
  </a>

  <a href="#" class="item item-icon-left">
    <i class="icon ion-card"></i>
    Enter card information
  </a>

</div>
<div class="bar bar-footer bar-balanced">
  <div class="title">Footer</div>
</div>